*{
  text-align: center;
}

body{
  background-color: lightslategrey;
}


.boxes{
  color: greenyellow;
  font-size: larger;


}

button{
color: black;
background-image: linear-gradient(to right, green, greenyellow, lightgreen);
border-radius:7px;
font-size: larger;
}


.boxes label, input{
  padding: 10px;
  margin:10px
}

.boxes input{
  color:darkgreen ;
}